<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1" name="viewport">
<title>A+</title>
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,300|Roboto:400,300' rel='stylesheet'>
<link rel="stylesheet" href="static/css/main.css">
<link rel="stylesheet" media="screen and (min-width: 600px)" href="static/css/mq_600-plus.css">
<link rel="stylesheet" media="screen and (min-width: 900px)" href="static/css/mq_900-plus.css">
</head>
<body>

	<header>
		<a href="#" id="logo">A+</a>
		<ul class="nd">
			<li><a href="#">Login</a></li>
		</ul>
	</header>
	<section class="content">
		<form action="">
			<div class="element text_header"> &nbsp &nbsp Sign up</div>
			<div class="row">
				<label>Username</label>
				<input type="text" name="userName" placeholder="email@example.com"/>
			</div>
			<div class="row">
				<label>Password</label>
				<input type="password" name="password1"/>
			</div>
			<div class="row">
				<label>Retry password</label>
				<input type="password" name="password2"/>
			</div>
			<div class="row">
				<label>First name</label>
				<input type="text" name="fname" />
			</div>
			<div class="row">
				<label>Last name</label>
				<input type="text" name="lname" />
			</div>
			<div class="row">
				<label>Username</label>
				<input type="text" name="username" />
			</div>
			<div class="errorMessage">
			Something went wrong! And this text is very long some times! <br> Second line starts here.
			</div>
			<div class="buttons_container">
				<div class="button">
					<a href="#">Reset</a>
				</div>
				<div class="button">
					<a href="#">Sign up</a>
				</div>
			</div>
		</form>
	</section>
	<ul class="nm">
		<li><a href="#">Login</a></li>
	</ul>

	<footer>
		<p>Copyright &copy; 2016 - Website created by A+ development team.</p>
	</footer>

</body>
</html>